# Database
DATABASE_URL=postgresql://neondb_owner:npg_Jx02YjTPutsF@ep-divine-term-ah3u1xmd-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Security
SECRET_KEY=cb1f87faafb24863bb5c6c9126adca87
BETTER_AUTH_SECRET=cb1f87faafb24863bb5c6c9126adca87
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
GEMINI_API_KEY=AIzaSyBxQb-moMmEn0hiw3_JFhulsx5TRmHmiG8
